.btn-folio-dark{
    background-color: #232340!important;
    color: #fff;
    width: 11.25em;
    height: 4em;
    border-radius: 8px;
}
.btn-folio-purple{
    background-color: #5468E7;
    color: #fff;
    width: 11.25em;
    height: 4em;
    border-radius: 8px;
}
.intro-text-landing{
    width: 22em;
    /* body 1 */

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */


/* text/body-light-mode */

color: #606060;
}
.left-section{
    z-index: 100;
}

.line-1{
    top: 0;
    position: absolute;
    left: 27rem;
}

#about-section{
    background-color: #232340;
    box-sizing: border-box;
}
#work-section{
    background-color: #fff;
    box-sizing: border-box;
}
#service-section{
    background-color: #232340;
    box-sizing: border-box;
    height: 108rem;
}
#jobs-section{
    background-color: #fff;
    box-sizing: border-box;
}

.text-about{
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #fff;
}
.text-work{
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #5468E7;
}

.box-about-text2{
    width: 40em;
}
.box-work-text2{
    width: 40em;
}
.text2-about{
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 72px;
letter-spacing: -0.5px;

/* color/white */

color: #FFFFFF;
}
.text2-work{
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 72px;
letter-spacing: -0.5px;

/* color/white */

color: #232340;
}

.text3-about{
/* heading 5 */

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
/* or 125% */

letter-spacing: -0.5px;


color: #FFFFFF;
}

.text4-about{
    /* body 1 */

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */


/* text/body-dark-mode */

color: #8B8B8B;
}

.list-about-section{
    background-color: #232340;
    color: #fff;
    border: none!important;
    
}

.triger{
    font-size: 2rem; font-weight:bold; margin-right: 1rem
}

.list-about-section:hover .line-anim{
    width: 200px;
    background-color: #fff;
    transition: 2s;
    
}

.line-anim{
  width: 0.1px;
  height: 2px;
  background-color: #232340;
  transition: 2s;
  position: absolute;
    top: 2.9rem;
    left: 6rem;
}



.show-line{
    background-image: url('assets/point\ line.png');
    /* width: 1px; */
    visibility: visible;
    transition: width 2s;
    background-repeat: no-repeat;
    
}
.triger:hover .show-line{
    background-image: url('assets/point\ line.png');
    transition: 10ms;
    visibility: visible;
    background-repeat: no-repeat;
    /* width: 300px; */
}

.bg-about-content{
    /* background-image: url('assets/shape\ 1.svg');
    background-repeat: no-repeat;
    position: absolute; */
}

.text-card-jobs{
    /* heading 5 */

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 1.549em;
line-height: 40px;
margin-bottom: 0.6em!important;
/* identical to box height, or 125% */

letter-spacing: -0.5px;

/* color/dark */

color: #232340;
}

.img-jobs{
    visibility: hidden ;
    transition: 1s;
}

.jobs-card:hover{
    background-color: #232340;
    transition: 1s;
    color: #fff;
}

.jobs-card:hover .text-card-jobs{
    color: #fff;
}

.jobs-card:hover .img-jobs{
    visibility: visible;
    transition: 1s;
}



.footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
.footer li{
    float: left;
}

.footer li a{
    display: block;
    color: #8B8B8B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}